# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Docker
docker-compose.override.yml
*.env
*.pid
*.sock

# Data
data/raw/
data/cleaned/
data/real_time/
*.csv
*.parquet
*.json
*.db

# Model artifacts
model/bert/
model/tfidf/
*.pt
*.pkl

# Spark temp files
spark_jobs/__pycache__/
spark_jobs/*.log

# OS files
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlartifacts/

# tmp
tmp/

# jars
jars/

generate_tree.py